@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #20152d;
}

img {
  width: 150px;
}

.rating {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.rating input {
  display: none;
}
.rating input:hover + label, .rating input:checked + label {
  filter: grayscale(0);
  opacity: 1;
  width: 190px;
}
.rating input:hover + label h4, .rating input:checked + label h4 {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.rating label {
  position: relative;
  width: 0;
  height: 128px;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
  text-align: center;
  opacity: 0;
}
.rating label h4 {
  color: white;
  font-size: 24px;
  padding-top: 10px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-50px) scale(0);
  transform: 0.5s;
}
.rating:hover label {
  width: 190px;
  opacity: 0.2;
}

.text {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 500px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  white-space: nowrap;
  font-size: 36px;
}

/*# sourceMappingURL=style.css.map */
